@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  font-family: "Poppins", sans-serif;
}

html, body {
    height: auto;
}

.vermelho {
  background-color: #B53534;
}

.vermelho-hover:hover {
  background-color: #8f2525;
}

.branco {
  background-color: #FFFFFF;
}

.cinza {
  background-color: #f0f0f0de;
}

.branco-hover:hover {
  background-color: #e0e0e0;
}

.nav-link:hover {
  text-decoration: underline;
}

input, textarea, select, .vermelho-border {
  border: #B53534 1px solid !important;
}

.editar:hover {
  border-color: #B53534;
}

.bi {
  color:#B53534;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #000;
}

.text-justify {
    text-align: justify;
  }

.bi-person-circle {
  color: white;
}

.w-90 {
  width: 90%;
}

.w-28 {
  width: 28%;
}

.fs-6 {
  font-size: 0.6rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.form-control:focus, .form-select:focus {
  border-color: #B53534;
  box-shadow: 0 0 0 0.25rem #dc7373;
}

.form-check-input:checked {
  background-color: #B53534;
}

.btn.vermelho:active,
.btn.vermelho.show {
  background-color: #a22f2f !important;
  color: #fff !important;
}

.dropdown-item:active {
  background-color: #e0e0e0;
  color: black;
}



